<!DOCTYPE html>
<html>

<head>
  {{#if post}}
    <title>WaifuPaste - {{post.id}}</title>
  {{else}}
    <title>WaifuPaste</title>
  {{/if}}
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/7f07092233.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <!-- Minified Cirrus CSS -->
  <link rel="stylesheet" href="assets/css/cirrus.min.css">
  <!-- Gotta love jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


  <style>
    body {
      margin: 10px;
      background-image: url("assets/imgs/texture.png");
    }
  </style>
</head>

<body>

  <div class="header u-unselectable header-animated">
    <div class="header-brand">
      <div class="nav-item no-hover">
        <i class="far fa-copy fa-lg" style="color: #333"></i>
      </div>
      <div class="nav-item no-hover">
        <a href="/">
          <h5 class="title" style="color: #337ab7">WaifuPaste</h5>
        </a>
      </div>
      {{#if post}}
        <div class="nav-item no-hover">
          <h6>{{post.id}}</h6>
        </div>
      {{/if}}
      {{#if post}}
      <div class="nav-item nav-btn" id="header-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
      {{/if}}
    </div>
    {{#if post}}
    <div class="header-nav" id="header-menu">
      <div class="nav-right">
        <div class="nav-item">
          <h6 class="font-alt font-light"><i class="far fa-file"></i> Raw</h6>
        </div>
        {{#if (eq post.type "text")}}
        {{#if md}}
          <div class="nav-item">
            <h6 class="font-alt font-light"><i class="fab fa-markdown"></i> Markdown</h6>
          </div>
        {{else}}
        <div class="nav-item">
          <h6 class="font-alt font-light"><i class="far fa-remove-format"></i> Plain</h6>
        </div>
        {{/if}}
        {{/if}}
      </div>
    </div>
    {{/if}}
  </div>
  {{{body}}}
  <div class="divider"></div>
  <div style="display: flex; justify-content: center;">
    <small class="u-text-center font-alt font-light faded">Built using:
      <a href="https://cirrus-ui.netlify.app">Cirrus</a>,
      <a href="https://fontawesome.com">Font Awesome</a>,
      <a href="https://www.cloudflare.com">CloudFlare</a>,
      <a href="https://www.mongodb.com">MongoDB</a>,
      <a href="https://expressjs.com">Express.js</a>, and
      <a href="https://nodejs.org">Node.js</a>.</small>
  </div>
  </div>
  <script src="/assets/js/index-interactive.js"></script>
</body>

</html>